html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.add-protest-map {
  height: 300px;
  width: 400px;
}

.day-of-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position:relative;
}

.container {
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

img.media {
  height: 275px;
  width: 360px;
}

.dropzone {

}

.mediaContainer {
}


a {
  background-color: none;

}

.dashboardMap {
  position: relative;
  /* width: 85vw; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 40vh;
}
