.dashboardMap {
  height: 500px;
}

.add-protest-map {
  height: 300px;
  width: 400px;
}

.day-of-map {
  height: 400px;
}

.container {
  padding-left: 30px;
  font-family: 'Cabin', sans-serif;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

img.media {
  height: 275px;
  width: 360px;
}

.mediaContainer {
}
