.dashboardMap {
  height: 500px;
}

.add-protest-map {
  height: 300px;
  width: 400px;
}


.container {
  padding-left: 20px;
  padding-right: 20px;
}

.body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

p:nth-last-child {
  padding-bottom: 40px;
}
